body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: #9acdff; /* Light neutral background */
  color: #111111;
}

#nav{
  color:rgb(133, 56, 1);
  padding: 5px;
  font-size: 25px;
  margin-right: 5px;
  margin-left: 5px;
}

h1{
  text-align: center;
  color:rgb(144, 80, 5);
  font-size: 50px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 ratio */
  padding-top: 25px;
  height: 0;
  margin: 20px auto; /* centers container */
  max-width: 90%;    /* optional: responsive max width */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
